@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto+Mono:ital,wght@0,500;1,700&display=swap');
body{
    background-color: black;
    color: white;
    font-family: 'roboto';
    font-size: larger;
    
}
.a{
    padding-top: 2%;
}
.b{
    padding-top: 5%;
}
.c{
    padding-top: 5%;
}
.d{
    padding-top: 5%;
    padding-bottom: 2.7%;
}
h1{
    text-align: center
}
