@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto+Mono:ital,wght@0,500;1,700&display=swap');
body{
    background-color: black;
    color: white;
    font-family: 'roboto';
    font-size: larger;
    box-shadow:0px 0px 10px rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    
}
/*.a{
    padding-top: 2%;
}
.b{
    padding-top: 5%;
}
.c{
    padding-top: 5%;
}
.d{
    padding-top: 5%;
    padding-bottom: 2.7%;
}
*/
h1{
    text-align: center
}
.outputDisplay{
    clear: left;
    
}

@media screen and (max-width: 760px) {
    .milkProduce{
        display: flex;
        flex-direction: column;  
    }
}
ul{
    list-style: none;
    justify-content: center space-evenly;   
}
